:root {
    --white: #fff;
    --black: #000;
    --red: #ff0000;
    --gray: #4A4A4A;
    --lightgrey: #D6D6D6;
    --green: #00A650;
    --purple: #3f2f59; 
    --purple2: #5e4485;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-size: 20px 20px;
    font-family: 'Verdana';
    background-color:  var(--lightgrey) !important;
}

h1, h2, h3 {
    font-family: 'TT Supermolot';
}

img {
    max-width: 100%;
    height: auto;
}

.app {
    max-width: 1250px;
    width: 100%;
    margin: 50px auto; 
}