h1{
  padding-top: 2rem;
  text-align: center;
}

th{
  text-align: center;
}

.admin-products-table-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.admin-products-table{
  font-size: 1.1rem;
  margin: 2rem;
  width: 80% !important;
}

.admin-products-table-head{
  font-size: 1.2rem;
}